<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr Pizza Analises</title>
<link rel="stylesheet" href="/static/css/style.css">
    
</head>
<body>

    <footer>
        <div id="title-page">
            <h1> Analise {{store}}</h1>
        </div>
    </footer>

    <div class="info-card " style="gap: 10px;">
        
        <a href="#faturamento">faturamento</a>
        <a href="#producao">Producão</a>
        <a href="#usage">Uso de Bolas</a>
        <a href="register">Registar</a>
    </div>

    <div class="billing-card" id="faturamento">

        <div class="billing-info">
            <div class="billing-cards">
                <span> Money: </span>
                <h3>{{billing['MONEY']}}</h3>
            </div>
            <div class="billing-cards">
                <span>Card: </span>
                <h3>{{billing['CARD']}}</h3>
            </div>
    </div>

    <main class="billing-total">
        <span>Total: </span>
        <h1 id="total-value">{{billing['TOTAL']}}</h1>  
    </main>

    <div class="fomr-data">
    <form method="POST" action="/faturamento">
        <div class="date-select">
            <label for="date">Data:</label>
            <input type="date" name="date" id="date">
        </div>

        <div>
            <label for="stores">Qual loja:</label>
            <select name="stores" id="stores">
                {% for store_id, store_name in store_dict.items() %}
                <option value="{{ store_id }}">{{ store_name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Enviar" id="btn-submit">
        </div>
    </form>
</div>


    </div>

    <div class="ball-dashboard" id="producao">
        <div class="production-title">
            <h1 >Producão {{store}}</h1>
        </div>
        
        <div class="production-card">
            

            <div class="production-cards">
                <div class="info-card">
                    <span>Pão de Alho:</span>
                    <h1>{{ production['GARLIC_BREAD'] }}</h1>
                </div>
                
                <div class="info-card">
                    <span>Bola Pequena:</span>
                    <h1>{{ production['SMALL_BALL'] }}</h1>
                </div>
            </div>

        </div>
        <div class="big-ball-production">
            <span>Bola Grande:</span>
            <h1>{{ production['BIG_BALL'] }}</h1>
        </div> 
    </div>
    
    <footer class="usage-title">
        <span>Uso de Bolas: {{store}}</span>
    </footer>
    <div class="ball-usage-dashboard" id="usage">


        <aside>
            <div class="usage-card">
                <div class="usage-cards">
                    <span>Bola Pequena: </span>
                    <h2>{{usage_balls['SMALL_BALL']}}</h2>
                </div>

                <div class="usage-cards">
                    <span>Pao de Alho: </span>
                    <h2>{{usage_balls['GARLIC_BREAD']}}</h2>
                </div>
                
            </div>
        </aside>
        <div class="big-ball-usage">
            <main class="big-ball-usage-card">
                <div>
                    <span>Bola Grande:</span>
                    
                </div>
                <div class="big-ball-card">
                    <h1">{{usage_balls['BIG_BALL']}}</h1>
                </div>
                
            </main>
            

            
        </div>
        <div>
            <canvas id="myChart" style="display: flex;" width="300px" height="300px"></canvas>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        
        <script>
            /* Aqui criei uma variavel no js para passar minha lista de valores para o grafico*/
            var labels = {{ usage_chart | tojson }};
        </script>
        <script src="static/js/graphics.js"></script>
    </div>
    
</body>
</html>