<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit {{username}}</title>
    <link rel="stylesheet" href="/static/css/user_profile.css">
</head>
<body>
    
    <div class="user-card">
        <main class="container">
            <header class="name-header"> <p>Editar: {{username}}</p> </header>
            
            <section class="form-card">
                <form action='/users/{{username}}' method="POST" class="form">

                    <input type="text" name="old_username" value="{{old_user_info.username}}"  readonly>
                    <input type="text" name="username" value=""  placeholder="New username" required>

                    <input type="email" name="old_email" value="{{old_user_info.email}}" readonly>
                    <input type="email" name="email" value="" placeholder="New Email" required>

                    <input type="password" name="password" placeholder="New password" required>
                    <input type="password" name="password_confirmation" placeholder="Confirm the password" required>

                    <input type="submit" name="edit" id="btn-submit">
                </form>
            </section>
            
        </main>
        <aside class="back-btn">
            <a href="/users"><img src="/static/content/back.png" alt=""></a>
        </aside>
        
    </div>

</body>
</html>