<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{username}}</title>
    <link rel="stylesheet" href="/static/css/user_profile.css">
</head>
<body>
    
    <div class="user-card">
        <main class="container">
            <header class="name-header"> <p>Usuario: {{username}}</p> </header>
            
            <section class="form-card">
                <form action='/users/{{username}}' method="POST" class="form">
    
                    <input type="text" name="username" value="{{old_user_info.username}}"  placeholder="User" required>
                    <input type="email" name="email" value="{{old_user_info.email}}" placeholder="New Email" required>
                    <input type="password" name="password" placeholder="New password" required>
                    <input type="submit" name="edit" id="btn-submit">
                </form>
            </section>
            
        </main>
    </div>
    
    
    
</body>
</html>