<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/static/css/users.css">
</head>
<body>
    <nav class="nav">
        <div class="nav-top">
            <span class="nav-items">Mr Pizza Analises</span>
            <a href="/homepage" class="nav-items">Homepage</a>
            <a href="/users/{{current_user}}">{{current_user}}</a>
        </div>
    </nav>
    <section class="container">
        <main class="main">
            {% if users|length == 0 %}
            <div>
                <h1>Nenhum usuario cadastrado no sistema</h1>
            </div>
            
            {% else %}
            {% for user in users %}
            <div class="users-card">
                <a href="users/{{ user['username'] }}">

                    <h1>
                        {{user['username']}}
                    </h1>

                    <ul>
                        
                        <li>
                            <span>Email: </span>
                            <h3>{{user['email']}}</h3>
                        </li> 
                        <li>
                            <span>Email: </span>
                            <h3>{{user['admin']}}</h3>
                        </li>
                        <li>
                            <span>last login: </span>
                            <h3>{{user['last_login']}}</h3>
                        </li>
                    </ul>
                </a>
            </div>

                
                
            {% endfor %}
            
    
            {% endif %}
        </main>
    </section>
    
    
</body>
</html>